.mobile-container {
    padding: 40%;
}

h2 {
    padding: 10%;
}

.mobile-button-login {
    width: 100%;
    height: 50px;
}

.empty-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.no-data {
    padding: 15px;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    width: 100vh;
    font-weight: bold;
}

.message {
    padding: 0 auto;
}